.RecieveSection{
	text-align: left;
	padding: 6rem;
	padding-top: 3rem; 
	background-color: #1429a8;
}
.RecieveSection h3{
	font-family: 'Formular-Regular';
	font-weight: 400;
	color: #0a1244;
	font-size: 28px;
	margin-bottom: 0;
}
.RecieveSection p{
	font-family: 'Formular-Regular';
    font-size: 14px;
    line-height: 1.71;
    font-weight: 400;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: -0.4px;
    color: #7e829b;
    margin-bottom: 40px;
}
.RecieveSection .cards{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
}
.RecieveSection .cards > div{
	margin-bottom: 20px; 
	border-radius: 4px;
	width: 350px;
	background-color: #fff;
	padding: 20px;
	transition: .175s ease-in-out;
}
.RecieveSection .cards > div > h4{
	font-family: 'Formular-Regular';
	font-weight: 400;
	color: #0a1244;
	font-size: 22px;
}
.RecieveSection .cards > div > p{
	font-family: 'Formular-Regular';
	font-size: 14px;
	line-height: 1.71;
    color: #7e829b;
    font-weight: 400;
}
.RecieveSection .cards > div:hover{
	box-shadow: 12px 12px 12px 1px rgba(0, 0, 255, .1);
}
@media screen and (max-width: 1200px) {
	.RecieveSection{
		padding: 1em;
	}
}
@media screen and (max-width: 1400px) {
	.RecieveSection{
		padding: 20px;
	}
	.RecieveSection > p{
		padding-left: 75px;
	}
	.RecieveSection > h3{
		padding-left: 75px;
	}

}
@media screen and (max-width: 1200px) {
	.RecieveSection{
		padding: 20px;
	}
	.RecieveSection > p{
		padding-left: 0;
	}
	.RecieveSection > h3{
		padding-left: 0;
	}
}
@media screen and (max-width: 900px) {
	.RecieveSection .cards{
		justify-content: center;
		flex-direction: column;
		align-items: center;
	}
	.RecieveSection .cards > div{
		width: 90%;
	}
}