<p>
  <b
    >Позивач не перебував за кермом під час фіксації правопорушення.</b
  >
</p>
<p style="text-indent: 40px; margin: 0">
  Слід зазначити, що в момент фіксації порушення Скаржник не перебував за кермом
  зафіксованого автомобіля, що підтверджується <%-
  evidenceThatCustomerWasNotDrivingCar %>. В той же час, складаючи постанову про
  адміністративне правопорушення, Інспектор поліції належним чином не встановив
  особу Скаржника. Це підтверджується тим, що з фото/відеозображень камер, які
  працюють в автоматичному режимі, не можна чітко встановити, хто саме перебував
  за кермом автомобіля <%- carBrand -%> номерний знак <%- carNumber %>. Однак,
  відповідно до ст. 280 КУпАП, орган (посадова особа) при розгляді справи про
  адміністративне правопорушення <b>зобов'язаний з'ясувати</b>: чи було вчинено
  адміністративне правопорушення, <b>чи винна дана особа в його вчиненні</b>, чи
  підлягає вона адміністративній відповідальності, чи є обставини, що
  пом'якшують і обтяжують відповідальність, чи заподіяно майнову шкоду, чи є
  підстави для передачі матеріалів про адміністративне правопорушення на розгляд
  громадської організації, трудового колективу, а також з'ясувати інші
  обставини, що мають значення для правильного вирішення справи. Відтак, при
  розгляді справи про адміністративне правопорушення орган був зобов’язаний
  встановити винну особу. Відповідно до ст. 62 Конституції України, усі сумніви
  щодо доведеності вини особи тлумачаться на її користь. У п. 4.2 Рішення
  Конституційного суду України від 22.12.2010, № 23-рп/2010 зазначається, що:</p>
  <p style="text-indent: 40px; margin: 0"><i> «Згідно з ч. 2 ст. 61 Конституції України юридична відповідальність особи має індивідуальний характер. Необхідність індивідуалізації адміністративної відповідальності передбачена ч. 2 ст. 33 КУпАП, якою визначено, що при накладенні стягнення враховується характер вчиненого правопорушення, особа порушника, ступінь його вини, майновий стан, обставини, що пом'якшують і обтяжують відповідальність».</i></p>
  <p style="text-indent: 40px; margin: 0">В адміністративних справах щодо оскарження
  рішень, дій чи бездіяльність суб'єкта владних повноважень встановлена
  презумпція його вини. Презумпція вини покладає на суб'єкта владних повноважень
  обов'язок аргументовано, посилаючись на докази, довести правомірність свого
  рішення, дії чи бездіяльності та спростувати твердження скаржника про
  порушення його прав, свобод чи інтересів. <b>Враховуючи викладене, постанова про адміністративне правопорушення підлягає скасуванню, оскільки:</p> <p>(і) в діях Скаржника відсутній склад адміністративного правопорушення;</p><p>(іі) належним чином не було встановлено особу, яка вчинила правопорушення.</p></b>
</p>
