.ProductsMenu{
	background: linear-gradient(to bottom, #fff, #f2f4f7);
	text-align: left;
	border-radius: 4px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding: 3rem 6rem 3rem 6rem;
}
.ProductsMenu > *{
	padding-left: 80px;
	cursor: pointer;
	width: 100%;
	transition: background-color .175s ease-in-out;
    color: #10c8d2;
    background-color: #0a1244;
}
.ProductsMenu > *:hover{
	color: #fff;
	background-color: #10c8d2;
}
.ProductsMenu > * h5{
	font-family: 'Formular-Regular';
	font-weight: 400;
    font-size: 13px;
    line-height: 1.53846;
	text-transform: uppercase;
    display: block;
    color: #fff;
    margin-bottom: 0;
    letter-spacing: 2px;
}
.ProductsMenu >* p{
	font-family: 'Formular-Regular';
	margin-top: 0;
	font-size: 16px;
    font-weight: 600;
    letter-spacing: .4px;
}
.ProductsMenu > * p > span{
	margin-right: 50px;  
	float: right;
	transition: .175s ease-in-out;
}
.ProductsMenu > *:hover  p > span{
	transform: translateX(20px);
}
.ProductsMenu .menu-btn1{
	text-decoration: none;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	border-right: 1px solid grey;
}
.ProductsMenu .menu-btn2{
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}
@media screen and (max-width: 900px) {
	.ProductsMenu .svg{
		display: none;
	}
	.ProductsMenu > * > *{
		text-align: center;		
	}
	.ProductsMenu > *{
		padding-left: 0;
	}
}