@import "src/index.scss";
.Form3 {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: "Montserrat-Medium";
    > div {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .tel_mobile,
    .carStats_mobile {
        display: none;
    }
    select {
        background-color: #fff;
        padding: 10px 15px 10px;
        width: 100%;
        border-radius: 4px;
        outline: none;
        &:hover {
            box-shadow: inset 0 0 1px 1px $maincolor;
        }
        &:focus {
            box-shadow: inset 0 0 1px 1px $maincolor;
        }
    }
    label {
        text-align: left;
        font-weight: 500;
        font-size: 18px;
        width: 100%;
        color: white;
        cursor: text;
        padding-bottom: 8px;
        input {
            display: block;
            outline: none;
            background: #ffffff;
            border: 1px solid #999999;
            box-sizing: border-box;
            width: 100%;
            border-radius: 5px;
            padding: 10px 15px 10px;
            transition: 0.225s ease-in-out;
            box-shadow: none;
            color: #0a1244;
            caret-color: $maincolor;
            &::-webkit-input-placeholder {
                opacity: 1;
                transition: opacity 0.3s ease;
            }
            &::-moz-placeholder {
                opacity: 1;
                transition: opacity 0.3s ease;
            }
            &:-moz-placeholder {
                opacity: 1;
                transition: opacity 0.3s ease;
            }
            &:-ms-input-placeholder {
                opacity: 1;
                transition: opacity 0.3s ease;
            }
            &:focus::-webkit-input-placeholder {
                opacity: 0;
                transition: opacity 0.3s ease;
            }
            &:focus::-moz-placeholder {
                opacity: 0;
                transition: opacity 0.3s ease;
            }
            &:focus:-moz-placeholder {
                opacity: 0;
                transition: opacity 0.3s ease;
            }
            &:focus:-ms-input-placeholder {
                opacity: 0;
                transition: opacity 0.3s ease;
            }
            &:hover {
                box-shadow: inset 0 0 1px 1px $maincolor;
            }
            &:focus {
                box-shadow: inset 0 0 1px 1px $maincolor;
            }
            > div {
                width: 100%;
            }
        }
    }
}
.Form3 {
    .b3 {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: space-between;
        flex-wrap: wrap;
        label {
            width: 30%;
        }
    }
    .b4_mobile {
        display: none;
    }
    .b4 {
        display: flex;
        flex-direction: column;
        > div {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            > label {
                width: 30%;
            }
        }
    }
    .Address {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
        > .house {
            width: 30%;
        }
        > .fullAdd {
            width: 65%;
        }
    }
    .TrueCam {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
        > .penalty {
            width: 30%;
        }
        > .number {
            width: 65%;
        }
    }
    .NotTrueCam {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
        > .trackNumber {
            width: 30%;
        }
        > p {
            width: 65%;
            font-size: 13px;
            color: white;
        }
    }
    .post,
    .carModel,
    .CarSpeed {
        > div {
            position: relative;
            span {
                z-index: 98;
                cursor: pointer;
                position: absolute;
                right: 4%;
                top: 22%;
            }
        }
    }
    .post_mobile,
    .carModel_mobile {
        > div {
            position: relative;
            span {
                z-index: 98;
                cursor: pointer;
                position: absolute;
                right: 3%;
                top: 22%;
            }
        }
    }
    .article,
    .PlacePravoporush,
    .PoliceName {
        > div {
            position: relative;
            span {
                z-index: 98;
                cursor: pointer;
                position: absolute;
                right: 1%;
                top: 22%;
            }
        }
    }
}
.IPN > input {
    letter-spacing: 3px;
}
.NotTrueCam > .trackNumber > input,
.TrueCam > .number > input {
    letter-spacing: 3px;
}
.TEL > input {
    letter-spacing: 1px;
}
.seriesANDnumber input {
    letter-spacing: 2px;
}
.CarNumber input {
    letter-spacing: 2px;
}
.CarSpeed input {
    letter-spacing: 2px;
}
.pNumber > input {
    letter-spacing: 2px;
}

.Indate {
    position: relative;
    display: flex;
    flex-direction: column;
    > div {
        position: relative;
    }
    input[type="date"] {
        height: 100%;
        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
        -moz-appearance: textfield;
        &::-ms-clear {
            display: none;
            width: 0;
            height: 0;
        }
        &::-webkit-clear-button {
            display: none;
            width: 0;
            height: 0;
        }
        &::-moz-clear-button {
            display: none;
            width: 0;
            height: 0;
        }
        &::-webkit-inner-spin-button {
            display: none;
        }
        &::-webkit-calendar-picker-indicator {
            cursor: pointer;
            color: transparent;
            background: transparent;
            z-index: 99;
        }
    }
    span {
        z-index: 98;
        cursor: pointer;
        position: absolute;
        right: 7%;
        top: 25%;
    }
    .popover {
        max-width: initial;
        > h3 {
            color: black;
        }
        margin: 0;
        margin-top: -139px;
        opacity: 0.99;
    }
}
.Postanova {
    span {
        z-index: 98;
        cursor: pointer;
        position: absolute;
        right: 2%;
        top: 25%;
    }
}
@media screen and (max-width: 1100px) {
    .Form3 {
        width: 100%;
        padding: 0 5% 0 5%;
        label {
            font-size: calc(10px + 0.5vw);
        }
    }
}
@media screen and (max-width: 800px) {
    .Form3 {
        label {
            input {
                padding: 5px 7px 5px;
                border-radius: 4px;
            }
        }
        select {
            padding: 5px 7px 5px;
        }
        .b3 {
            label {
                width: 45%;
            }
            .PlaceVidpovidach {
                width: 100%;
            }
            align-items: flex-end;
        }
        .b4 {
            display: none;
        }
        .b4_mobile {
            display: flex;
            flex-direction: column;
            > div {
                display: flex;
                flex-direction: row;
                height: 70px;
                justify-content: space-between;
                align-items: flex-end;
                > label {
                    width: 45%;
                }
            }
        }
        .Address {
            display: flex;
            flex-direction: column;
            width: 100%;
            > .house {
                width: 100%;
            }
            > .fullAdd {
                width: 100%;
            }
        }
        .popover {
            max-width: initial;
            > h3 {
                color: black;
            }
            width: 222%;
            margin-left: -122%;
            margin-top: -139px;
            opacity: 0.99;
        }
        .PlacePravoporush,
        .PoliceName {
            > div {
                position: relative;
                span {
                    z-index: 98;
                    cursor: pointer;
                    position: absolute;
                    right: 3%;
                    top: 22%;
                }
            }
        }
    }
}

.react-datepicker-wrapper {
    display: block !important;
}
.react-time-picker {
    display: block !important;
}
.react-time-picker__wrapper {
    padding: 10px 15px 10px;
    border: 1px solid #999999;
    border-radius: 5px;
    background-color: #fff;
    color: black !important;
    input {
        width: 10% !important;
        border: none !important;
        padding: 0 0 0 2px !important;
        outline: none !important;
        background-color: transparent !important;
        display: inline !important;
    }
}
@media screen and (max-width: 800px) {
    .react-time-picker__wrapper {
        padding: 5px 7px 5px;
        border-radius: 4px;
        input {
            width: calc(10px + 2vw) !important;
        }
    }
}
.react-time-picker__inputGroup__leadingZero {
    display: none !important;
}
.react-time-picker__inputGroup__input--hasLeadingZero {
    margin-left: 0 !important;
}
