@import 'src/index.scss';
.Form3{
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	font-family: 'Montserrat-Medium';
	> div{
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		flex-wrap: wrap;
	}
	.tel_mobile, .carStats_mobile{
		display: none;
	}
	label{
		text-align: left;
		font-weight: 500;
		font-size: 18px;
		width: 100%;
		color:white;
		cursor: text;
		padding-bottom: 8px;
		input{
			box-sizing: border-box;
			display: block;
			outline: none;
			background: #FFFFFF;
			border: 1px solid #999999;
			box-sizing: border-box;
			width: 100%;
			border-radius: 5px;
			padding: 10px 15px 10px;
			transition: .225s ease-in-out;
			box-shadow: none;
			color: #0a1244;
			caret-color: $maincolor;
			&::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.3s ease;}
			&::-moz-placeholder                {opacity: 1; transition: opacity 0.3s ease;}
			&:-moz-placeholder                 {opacity: 1; transition: opacity 0.3s ease;}
			&:-ms-input-placeholder            {opacity: 1; transition: opacity 0.3s ease;}
			&:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
			&:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease;}
			&:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease;}
			&:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease;}
			&:hover{
				box-shadow: inset 0 0 1px 1px $maincolor;
			}
			&:focus{
				box-shadow: inset 0 0 1px 1px $maincolor;
			}
			>div{
				width: 100%;
			}
		}
	}
}
.Form3{
	.b3{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		flex-wrap: wrap;
		label{
			width: 45%;
		}
	}
	.b4_mobile{
		display: none;
	}
	.b4{
		display: flex;
		flex-direction: column;
		>div{
			display: flex;
			height: 110px;
			justify-content: space-between;
			align-items: flex-end;
			>label{
				width: 25%;
			}
		}
	}
}
.IPN > input{
	letter-spacing: 3px;
}
.TEL > input{
	letter-spacing: 1px;
}
.seriesANDnumber  input{
	letter-spacing: 2px;
}
.CarNumber input{
	letter-spacing: 2px;
}
.CarSpeed input{
	letter-spacing: 2px;
}
.Indate{
	position: relative;
	>div{
		position: relative;
	}
	input[type=date]{	
		&::-webkit-inner-spin-button { display: none; }
		&::-webkit-calendar-picker-indicator {cursor: pointer; color: transparent; background: transparent; z-index: 99;}
	}	
	span{
		z-index: 98;
		cursor: pointer;
		position: absolute;
		right: 7%;
		top: 25%;
	}
	.popover{
		>h3{
			color: black;
		}
		opacity: 0.99;
		margin-bottom: 20%;
		position: absolute;
	}
}
@media screen and (max-width: 1100px){
	.Form3{
		width: 100%;
		padding: 0 5% 0 5%;
		label{
			font-size: calc(10px + 0.5vw);
		}
	}
}
@media screen and (max-width: 800px){
	.Form3{
		label{
			input{
				padding: 5px 7px 5px;
				border-radius: 4px;
			}
		}
		.b3{
			align-items: flex-end;
		}
		.b4{
			display: none;
		}
		.b4_mobile{
			display: flex;
			flex-direction: column;
			>div{
				display: flex;
				flex-direction: row;
				height: 70px;
				justify-content: space-between;
				align-items: flex-end;
				>label{
					width: 46%;
				}
			}
		}
	}
}