.Form3{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.Form3 > div{
	width: 100%;
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;
}
.Form3 input{
	box-sizing: border-box;
	display: block;
	outline: none;
	width: 100%;
	padding: 24px 19px 25px;
	border-radius: 4px;
	transition: .225s ease-in-out;
	box-shadow: none;
    color: #0a1244;
    line-height: 1.2;
    background-color: #fff;
    border: 1px solid #bbbdcb;
    caret-color: #10c8d2;
}
.Form3 input::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.3s ease;}
.Form3 input::-moz-placeholder                {opacity: 1; transition: opacity 0.3s ease;}
.Form3 input:-moz-placeholder                 {opacity: 1; transition: opacity 0.3s ease;}
.Form3 input:-ms-input-placeholder            {opacity: 1; transition: opacity 0.3s ease;}
.Form3 input:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
.Form3 input:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease;}
.Form3 input:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease;}
.Form3 input:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease;}

.Form3 input:hover{
	box-shadow: inset 0 0 1px 1px #10c8d2;
}
.Form3 input:focus{
	box-shadow: inset 0 0 1px 1px #10c8d2;
}
.Form3 label{
	text-align: left;
	font-family: 'Formular-Regular';
	font-size: 14px;
    color: #7e829b;
    cursor: text;
    padding-bottom: 8px;
}