.fade-appear{
	opacity: 0;
	z-index: 1;
}
.fade-appear-active{
	opacity: 1;
	transition: opacity 600ms linear;
}
.fade-enter{
	opacity: 0;
	z-index: 1;
}
.fade-enter-active{
	opacity: 1;
	transition: opacity 600ms linear;
}
.Content .qa{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.Content{
	margin-right: auto;
    margin-left: auto;	
	width: 50%;
    padding-top: 80px;
    padding-bottom: 80px;
}
.Content > h1{
    font-weight: 900;
	text-decoration: none;
	color: #0a1244;
	font-size: 28px;
    line-height: 28px;
	margin-bottom: 36px;
}