@import 'src/index.scss';
.Content{
	font-family: 'Montserrat-Medium';
	background: linear-gradient(90deg, #030A42 0%, #00D9C6 100%);
	margin-right: auto;
    margin-left: auto;	
    padding-top: 40px;
	padding-bottom: 80px;
	> h1{
		text-align: center;
		font-family: 'Montserrat-Medium';
		font-weight: 400;
		font-size: calc(20px + 1vw);
		line-height: 44px;
		text-transform: uppercase;
		color: #FFFFFF;
	}
	form > button{
		display: block;
		margin: auto;
		margin-top: 30px;
		color: white;
		font-family: 'Montserrat-Medium';
		font-style: normal;
		font-weight: 400;
		font-size: 30px;
		line-height: 37px;
		cursor: pointer;
		width: 350px;
		text-transform: uppercase;
		outline: none;
		border: none;
		padding: 20px 50px 20px 50px;
		background: $maincolor;
		border-radius: 40px;
	}
}
@media screen and (max-width: 1100px){
	.Content{
		padding-top: 20px;
		padding-bottom: 140px;
		>button{
			width: auto;
			padding: 10px 20px 10px 20px;
		}
	}
}