.Services{
	padding: 6rem;
	font-family: 'Formular-Regular';
	text-align: left;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
}
.Services > .service{
	text-decoration: none;
	min-height: 90px;
	height: 320px;
	position: relative;
	margin: 20px;
	padding: 50px;
	background-color: #fff;
	border-radius: 4px;
	max-width: 500px;
	transition: all .225s ease-in-out;
    overflow: hidden;
    cursor: pointer;
}
.Services > .service:hover{
	box-shadow: 12px 12px 12px 1px rgba(0, 0, 255, .1);
}
.Services > .service h3{	
	font-family: 'Formular-Black';
	color: #0a1244;
	font-weight: 500;
	font-size: 28px;
    line-height: 28px;
}
.Services > .service p{
    color: #4f537b;
    font-size: 14px;
    line-height: 1.88;
}
.Services > .service > div{
	position: absolute;
	top: 300px;
	color: #10c8d2;
}
.Services > .service .bottomFragment{
	position: absolute;
	top: 300px;
	color: #10c8d2;
}
.Services > .service .bottomFragment span{
	font-size: 38px;
    line-height: 38px;
}
.Services > .service .bottomFragment p{
	margin-top: 0px;
	color: #7e829b;
	font-size: 14px;
}
.Services > .service .bottomFragment .small{
	font-size: 24px;
}

.wrapper{
	display: block;
	border-radius: 4px;
	font-family: 'Formular-Black';
	color: white;
	background-color: #10c8d2;
	padding: 20px 40px;
	font-size: 15px;
}
.wrapper .onOver{
	background-color: red !important;
	display: block;
}
