@font-face{

font-family: 'Formular-Regular';
src: url('./fonts/Formular-Regular.eot');
src: url('./fonts/Formular-Black.eot?iefix') format('eot'),
	url('./fonts/Formular-Regular.woff') format('woff'),
	url('./fonts/Formular-Regular.ttf') format('truetype'),
	url('./fonts/Formular-Regular.svg#webfont') format('svg');
}
@font-face{
font-family: 'Formular-Black';
src: url('./fonts/Formular-Black.eot');
src: url('./fonts/Formular-Black.eot?iefix') format('eot'),
	url('./fonts/Formular-Black.woff') format('woff'),
	url('./fonts/Formular-Black.ttf') format('truetype'),
	url('./fonts/Formular-Black.svg#webfont') format('svg');
}

.MainPage{
	background-color: #f2f4f7;
}
.sticky{
	position: sticky;
  	top: 0;
	width: 100%;
	z-index: 99;
}
.Header{
	font-family: 'Formular-Regular';
	background-color: #fff;
	font-size: 13px;
    line-height: 1.53846;
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 20px;
	z-index: 9900;
	border-bottom: 1px solid rgba(0,0,0,0.3);
}
.Header .header-links{
	max-width: 700px;
	display: flex;
	flex: 1;
	flex-direction: row;
	justify-content: space-around;
	margin: auto;
}
.Header .header-links>div{
	opacity: .5;
	text-decoration: none;
	transition: all .225s ease-in-out;
	cursor: pointer;

}
.Header .header-links>div:hover{
	opacity: 1;
	color: #0a1244;
}
.Header .header-links p{
	text-transform: uppercase;
    letter-spacing: 2px;
}
.Header img{
	width: 130px;
    height: 50px;
}
.Header .header-btn{
	text-transform: uppercase;
	-webkit-tap-highlight-color: transparent;
    font-size: 13px;
    padding-left: 10px;
    padding-right: 10px;
    letter-spacing: 2px;
	display: inline-block;
    text-decoration: none;
    -webkit-box-shadow: none;
    text-align: center;
    box-shadow: none;
    outline: none;
	color: #10c8d2;
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid #10c8d2;
    transition: all .225s ease-in-out;
}
.Header .header-btn:hover{
	border-color:  #0a1244;
	color: #0a1244;
}
.Header .header-btn p{
	margin-top: 17px;
}





.MainPage hr {
	margin: 0;
	background-color: #fff;
	opacity: .5; 
	width: 100%;
}






.MainSlider{
	background-color: #fff;
	text-align: left;
	display: flex;
	flex-direction: row;
	padding: 6rem;
	padding-bottom: 0;
    margin: 0 auto;
    min-height: 549px;
}
.MainSlider .first h1{
	font-family: 'Formular-Black';
	font-weight: 900;
	font-size: 60px;
    padding-bottom: 26px;
    line-height: 1;
    color: #0a1244;
    margin-bottom: 0;
}
.MainSlider .first p{
	font-family: 'Formular-Regular';
	opacity: .5;
	color: #0a1244;
	font-weight: 400;
	font-size: 18px;
}
.MainSlider .first > div{
	font-family: 'Formular-Black';
	margin-top: 150px;
}
.MainSlider .first > div .btn1{
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
	font-weight: 400;
    line-height: 16px;
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid transparent;
	font-size: 15px;
	background-color: #10c8d2;
    color: #fff;
	padding: 20px 29px 22px;
    margin-right: 7px;
    transition: all .225s ease-in-out;
}
.MainSlider .first > div .btn1:hover{
	opacity: .9;
}
.MainSlider .first > div .btn2{
	display: inline-block;
	cursor: pointer;
	color: #10c8d2;
	padding: 12px 29px 14px;
	font-weight: 700;
    line-height: 16px;
    transition: all .225s ease-in-out;
}
.MainSlider .first > div .btn2:hover{
	color: #0a1244;
}
.MainSlider .second img{
	display: inline-block;
    height: auto;
    width: 80%;
}






.ProductsMenu{
	background: linear-gradient(to bottom, #fff, #f2f4f7);
	text-align: left;
	border-radius: 4px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding-left: 6rem;
	padding-right: 6rem;
	padding-bottom: 3rem;
}
.ProductsMenu > *{
	padding-left: 80px;
	cursor: pointer;
	width: 100%;
	transition: background-color .175s ease-in-out;
    color: #10c8d2;
    background-color: #0a1244;
}
.ProductsMenu > *:hover{
	color: #fff;
	background-color: #10c8d2;
}
.ProductsMenu > * h5{
	font-family: 'Formular-Regular';
	font-weight: 400;
    font-size: 13px;
    line-height: 1.53846;
	text-transform: uppercase;
    display: block;
    color: #fff;
    margin-bottom: 0;
    letter-spacing: 2px;
}
.ProductsMenu >* p{
	font-family: 'Formular-Regular';
	margin-top: 0;
	font-size: 16px;
    font-weight: 600;
    letter-spacing: .4px;
}
.ProductsMenu > * p > span{
	margin-right: 50px;  
	float: right;
	transition: .175s ease-in-out;
}
.ProductsMenu > *:hover  p > span{
	transform: translateX(20px);
}
.ProductsMenu .menu-btn1{
	text-decoration: none;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	border-right: 1px solid grey;
}
.ProductsMenu .menu-btn2{
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}







.AboutUs{
	padding: 6rem;
	padding-bottom: 0;
	background-color: #f2f4f7;
}
.AboutUs>div{
	cursor: pointer;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	background-color: #fff;
	border-radius: 4px;
	overflow: hidden;
	height: 350px;
	transition: .175s ease-in-out;
}
.AboutUs>div:hover{
	box-shadow: 12px 12px 12px 1px rgba(0, 0, 255, .1);
}
.AboutUs>div:hover img{
	transform: translateX(-20px);
}
.AboutUs>div>*{
	width: 100%;
}
.AboutUs .text{
	text-align: left;
	padding: 40px;
}
.AboutUs .img > img{
	-webkit-clip-path: circle(95% at 100% 50%);
	position: relative;
	right: -20px;
	height: 100%;
	width: auto;
	float: right;
	border-top-left-radius: 20%;
	border-bottom-left-radius: 20%;
	transition: .175s ease-in-out;
}
.AboutUs .text > h2{
	text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2.5px;
    font-weight: 600;
    color: rgba(10, 18, 68, .6);
}
.AboutUs .text > h5{
	font-size: 38px;
    line-height: 44px;
    font-weight: 900;
    color: #0a1244;
}
.AboutUs .text > p{
	font-size: 16px;
	line-height: 1.88;
	color: #0a1244;
}
.AboutUs > p{
	margin-top: 70px;
	background-color: #fff;
	border-radius: 4px;
	overflow: hidden;
	transition: .175s ease-in-out;
    font-weight: 600;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: -0.4px;
    color: rgba(10, 18, 68, .6);
    padding: 20px;
    text-align: left;
}
.AboutUs>p:hover{
	box-shadow: 12px 12px 12px 1px rgba(0, 0, 255, .1);
}
.AboutUs>p b{
	font-weight: 800;
}




.RecieveSection{
	text-align: left;
	padding: 6rem;
	padding-top: 3rem; 
	background-color: #f2f4f7;
}
.RecieveSection h3{
	font-family: 'Formular-Regular';
	font-weight: 400;
	color: #0a1244;
	font-size: 28px;
	margin-bottom: 0;
}
.RecieveSection p{
	font-family: 'Formular-Regular';
    font-size: 14px;
    line-height: 1.71;
    font-weight: 400;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: -0.4px;
    color: #7e829b;
    margin-bottom: 40px;
}
.RecieveSection .cards{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
}
.RecieveSection .cards > div{
	margin-bottom: 20px; 
	border-radius: 4px;
	width: 350px;
	background-color: #fff;
	padding: 20px;
	transition: .175s ease-in-out;
}
.RecieveSection .cards > div > h4{
	font-family: 'Formular-Regular';
	font-weight: 400;
	color: #0a1244;
	font-size: 22px;
}
.RecieveSection .cards > div > p{
	font-family: 'Formular-Regular';
	font-size: 14px;
	line-height: 1.71;
    color: #7e829b;
    font-weight: 400;
}
.RecieveSection .cards > div:hover{
	box-shadow: 12px 12px 12px 1px rgba(0, 0, 255, .1);
}










.Algorithm{
	text-align: left;
	padding: 6rem;
	padding-top: 3rem;
	font-family: 'Formular-Regular';
}
.Algorithm > h3{
	font-weight: 400;
	font-size: 24px;
	text-decoration: none;
    color: #0a1244;
    margin-bottom: 0;
}
.Algorithm .steps{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
}
.Algorithm .steps > div{
	width: 300px;
	cursor: pointer;
}
.Algorithm .steps > div h4{
	color: #0dc1cb;
	font-size: 3rem;
    font-weight: 900;
    margin-bottom: 14px;
    transition: all .225s ease-in-out;
}
.Algorithm .steps > div:hover h4{
	color: #0a1244;
}
.Algorithm .steps > div p{
	text-transform: uppercase;
    color: #7e829b;
    font-size: 14px;
}









.Instructions{
	padding: 6rem;
	font-family: 'Formular-Regular';
	text-align: left;
	background-color: #0a1244;
	color: #fff;
}
.Instructions > h3{
	font-weight: 900;
	font-size: 24px;
    margin-bottom: 34px;
}
.Instructions .steps{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
}
.Instructions .steps > div{
	position: relative;
	width: 400px;
}
.Instructions .steps > div:not(:last-child) h4:after{
    display: block;
    position: absolute;
   	top: 55px;
   	left: 30px;
    background-color: #10c8d2;
	content: "";
	width: 90%;
    height: 1px;
}
.Instructions .steps > div h4{
	color: #0dc1cb;
	font-size: 28px;
    margin-bottom: 14px;
}
.Instructions .steps > div p{
    color: #fff;
    font-size: 18px;
    margin-bottom: 15px;
}
.Instructions .steps > div span{
    color: #7e829b;
    font-size: 14px;
}




.Services{
	padding: 6rem;
	font-family: 'Formular-Regular';
	text-align: left;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
}
.Services > div {
	text-decoration: none;
	min-height: 90px;
	height: 320px;
	position: relative;
	margin: 20px;
	padding: 50px;
	background-color: #fff;
	border-radius: 4px;
	max-width: 500px;
	transition: all .225s ease-in-out;
    overflow: hidden;
    cursor: pointer;
}
.Services > div:hover{
	box-shadow: 12px 12px 12px 1px rgba(0, 0, 255, .1);
}
.Services > div h3{	
	font-family: 'Formular-Black';
	color: #0a1244;
	font-weight: 500;
	font-size: 28px;
    line-height: 28px;
}
.Services > div p{
    color: #4f537b;
    font-size: 14px;
    line-height: 1.88;
}
.Services > div > div{
	position: absolute;
	top: 300px;
	color: #10c8d2;
}
.Services > div .bottomFragment{
	position: absolute;
	top: 300px;
	color: #10c8d2;
}
.Services > div .bottomFragment span{
	font-size: 38px;
    line-height: 38px;
}
.Services > div .bottomFragment p{
	margin-top: 0px;
	color: #7e829b;
	font-size: 14px;
}
.Services > div .bottomFragment .small{
	font-size: 24px;
}

.wrapper{
	display: block;
	border-radius: 4px;
	font-family: 'Formular-Black';
	color: white;
	background-color: #10c8d2;
	padding: 20px 40px;
	font-size: 15px;
}
.wrapper .onOver{
	background-color: red !important;
	display: block;
}




.Declaration{
	background-color: #fff;
	height: 100%;
}

.DeclarationHeader{
	display: block;	
	padding: 20px;
	background-color: #fff;
	z-index: 9900;
	border-bottom: 1px solid rgba(0,0,0,0.3);	
}
.DeclarationHeader img{
	width: 130px;
    height: 50px;
}







