@font-face{

font-family: 'Formular';

src: url('../fonts/Formular-Black.eot');

font-weight: normal;

font-style: normal;

}
.Header{
	font-size: 13px;
    line-height: 1.53846;
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 20px;
}
.Header .header-links{
	display: flex;
	flex: 1;
	flex-direction: row;
	justify-content: space-around;
	margin: auto;
}
.Header .header-links>div{
	opacity: .5;
	transition: all .225s ease-in-out;
	cursor: pointer;
}
.Header .header-links>div:hover{
	opacity: 1;
	color: #0a1244;
}
.Header .header-links p{
	text-transform: uppercase;
    letter-spacing: 2px;
}
.Header img{
	width: 130px;
    height: 50px;
}
.Header .header-btn{
	text-transform: uppercase;
	-webkit-tap-highlight-color: transparent;
    font-size: 13px;
    padding-left: 10px;
    padding-right: 10px;
    letter-spacing: 2px;
	display: inline-block;
    text-decoration: none;
    -webkit-box-shadow: none;
    text-align: center;
    box-shadow: none;
    outline: none;
	color: #10c8d2;
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid #10c8d2;
    transition: all .225s ease-in-out;
}
.Header .header-btn:hover{
	border-color:  #0a1244;
	color: #0a1244;
}
.Header .header-btn p{
	margin-top: 17px;
}





.MainPage hr {
	opacity: .5; 
	width: 100%;
}






.MainSlider{
	text-align: left;
	display: flex;
	flex-direction: row;
	padding: 6rem;
	padding-bottom: 0;
    margin: 0 auto;
    min-height: 549px;
}
.MainSlider .first h1{
	font-size: 60px;
    padding-bottom: 26px;
    line-height: 1;
    color: #0a1244;
    margin-bottom: 0;
}
.MainSlider .first p{
	opacity: .5;
	font-size: 18px;
}
.MainSlider .first > div{
	margin-top: 150px;
}
.MainSlider .first > div .btn1{
	display: inline-block;
	cursor: pointer;
	font-weight: 700;
    line-height: 16px;
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid transparent;
	font-size: 15px;
	background-color: #10c8d2;
    color: #fff;
	padding: 20px 29px 22px;
    margin-right: 7px;
    transition: all .225s ease-in-out;
}
.MainSlider .first > div .btn1:hover{
	opacity: .9;
}
.MainSlider .first > div .btn2{
	display: inline-block;
	cursor: pointer;
	color: #10c8d2;
	padding: 12px 29px 14px;
	font-weight: 700;
    line-height: 16px;
    transition: all .225s ease-in-out;
}
.MainSlider .first > div .btn2:hover{
	color: #0a1244;
}
.MainSlider .second img{
	display: inline-block;
    height: auto;
    z-index: 10;
    width: 80%;
}






.ProductsMenu{
	background: linear-gradient(to bottom, #fff, #f2f4f7);
	text-align: left;
	border-radius: 4px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding-left: 6rem;
	padding-right: 6rem;
	padding-bottom: 3rem;
}
.ProductsMenu > div{
	padding-left: 80px;
	cursor: pointer;
	width: 100%;
	transition: background-color .175s ease-in-out;
    color: #10c8d2;
    background-color: #0a1244;
}
.ProductsMenu > div:hover{
	color: #fff;
	background-color: #10c8d2;
}
.ProductsMenu > div h5{
	font-weight: 400;
    font-size: 13px;
    line-height: 1.53846;
	text-transform: uppercase;
    display: block;
    color: #fff;
    margin-bottom: 0;
    letter-spacing: 2px;
}
.ProductsMenu > div p{
	margin-top: 0;
	font-size: 16px;
    font-weight: 600;
    letter-spacing: .4px;
}
.ProductsMenu > div p > span{
	margin-right: 50px;  
	float: right;
	transition: .175s ease-in-out;
}
.ProductsMenu > div:hover  p > span{
	transform: translateX(20px);
}
.ProductsMenu .menu-btn1{
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	border-right: 1px solid grey;
}
.ProductsMenu .menu-btn2{
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}






.AboutUs{
	padding: 6rem;
	background-color: #f2f4f7;
}
.AboutUs>div{
	cursor: pointer;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	background-color: #fff;
	border-radius: 4px;
	overflow: hidden;
	height: 350px;
	transition: .175s ease-in-out;
}
.AboutUs>div:hover{
	box-shadow: 12px 12px 12px 1px rgba(0, 0, 255, .1);
}
.AboutUs>div:hover img{
	transform: translateX(-20px);
}
.AboutUs>div>*{
	width: 100%;
}
.AboutUs .text{
	text-align: left;
	padding: 40px;
}
.AboutUs .img > img{
	position: relative;
	right: -20px;
	z-index: 99;
	height: 100%;
	width: auto;
	float: right;
	border-top-left-radius: 20%;
	border-bottom-left-radius: 20%;
	transition: .175s ease-in-out;
}
.AboutUs .text > h2{
	text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2.5px;
    font-weight: 600;
    color: rgba(10, 18, 68, .6);
}
.AboutUs .text > h5{
	font-size: 38px;
    line-height: 44px;
    font-weight: 900;
    color: #0a1244;
}
.AboutUs .text > p{
	font-size: 16px;
	line-height: 1.88;
}
.AboutUs > p{
	margin-top: 70px;
	background-color: #fff;
	border-radius: 4px;
	overflow: hidden;
	transition: .175s ease-in-out;
    font-weight: 600;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: -0.4px;
    color: rgba(10, 18, 68, .6);
    padding: 20px;
}
.AboutUs>p:hover{
	box-shadow: 12px 12px 12px 1px rgba(0, 0, 255, .1);
}
.AboutUs>p b{
	font-weight: 800;
}
.AboutUs > p p{
	text-align: left;
}