@import "src/index.scss";
.DateInput {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 50px;
    input {
        width: 180px;
        margin-bottom: 50px;
        padding: 5px 10px;
    }
    > button {
        display: flex;
        align-items: center;
        color: white;
        min-width: 120px;
        display: inline-block;
        font-family: "Montserrat-Medium";
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 37px;
        text-transform: uppercase;
        cursor: pointer;
        outline: none;
        border: none;
        text-align: center;
        padding: 10px 30px;
        background: $maincolor;
        border-radius: 40px;
        margin: 0 20px;
    }
}
