.Instructions{
	padding: 6rem;
	font-family: 'Formular-Regular';
	text-align: left;
	background-color: #0a1244;
	color: #fff;
}
.Instructions > h3{
	font-weight: 900;
	font-size: 24px;
    margin-bottom: 34px;
}
.Instructions .steps{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
}
.Instructions .steps > div{
	position: relative;
	width: 400px;
}
.Instructions .steps > div:not(:last-child) h4:after{
    display: block;
    position: absolute;
   	top: 17px;
   	left: 30px;
    background-color: #10c8d2;
	content: "";
	width: 90%;
    height: 1px;
}
.Instructions .steps > div h4{
	color: #0dc1cb;
	font-size: 28px;
    margin-bottom: 14px;
}
.Instructions .steps > div p{
    color: #fff;
    font-size: 18px;
    margin-bottom: 15px;
}
.Instructions .steps > div span{
    color: #7e829b;
    font-size: 14px;
}
@media screen and (max-width: 1200px) {
	.Instructions{
		padding: 40px;
	}
}