.Header{
	z-index: 99;
	background-color: #fff;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	img{
		cursor: pointer;
		width: 110px;
		margin: 5px;
	}
}
@media screen and (max-width: 1100px){
	.Header{
		img{
			cursor: pointer;
			width: 60px;
			margin: 10px;
		}
	}
}