.MainSlider{
	background-color: #405af7;
	text-align: left;
	display: flex;
	flex-direction: row;
	padding: 6rem;
	padding-bottom: 0;
    margin: 0 auto;
    min-height: 500px;
}
.MainSlider .first h1{
	font-family: 'Formular-Black';
	font-weight: 900;
	font-size: 60px;
    padding-bottom: 26px;
    line-height: 1;
    color: #0a1244;
    margin-bottom: 0;
}
.MainSlider .first p{
	font-family: 'Formular-Regular';
	opacity: .5;
	color: #0a1244;
	font-weight: 400;
	font-size: 18px;
}
.MainSlider .first > div{
	font-family: 'Formular-Black';
	margin-top: 150px;
}
.MainSlider .first > div .btn1{
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
	font-weight: 400;
    line-height: 16px;
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid transparent;
	font-size: 15px;
	background-color: #10c8d2;
    color: #fff;
	padding: 20px 29px 22px;
    margin-right: 7px;
    transition: all .225s ease-in-out;
}

.MainSlider .first > div .btn1:hover{
	opacity: .9;
}
.MainSlider .first > div .btn2{
	display: inline-block;
	cursor: pointer;
	color: #10c8d2;
	padding: 12px 29px 14px;
	font-weight: 700;
    line-height: 16px;
    transition: all .225s ease-in-out;
}
.MainSlider .first > div .btn2:hover{
	color: #0a1244;
}
.MainSlider .second{
	position: relative;
}	

.MainSlider .second svg{
	position: absolute;
    height: auto;
    width: 80%;
    z-index: 1;
}
@media screen and (max-width: 1200px) {
	.MainSlider{
		padding-left: 20px;
		padding-right: 20px;
	}
}
@media screen and (max-width: 900px) {
	.MainSlider{
		padding-top: 0;
		padding-bottom: 0;
	}
	.MainSlider{
		flex-direction: column-reverse;
	}
	.MainSlider .first h1{
		font-size: 40px;
		text-align: center;
	}
	.MainSlider .first p{
		text-align: center;
	}
	.MainSlider .first > div .btn1{
		align-items: center;
	}
	.MainSlider .first > div{
		display: flex;
		margin: 40px 0 0 0;
		justify-content: center;
		margin-bottom: 10%;
	}
	.MainSlider .first > div .btn2{
		display: none;
	}
	.MainSlider .second{
		display: flex;
		justify-content: center;
	}
}
.main-slider__image {
	position: relative;
	display: inline-block;
	height: auto;
	z-index: 10;
	width: 100%
}
.main-slider__image-wrapper {
		padding-top: 30px;
		font-size: 43.4vw;
	}
	.main-slider__image-inner {
		margin-right: 5px;
		margin-top: -26px
	}
.main-slider__image-inner,
.main-slider__image-wrapper {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex
}
.main-slider__image-wrapper {
		font-size: 57vw;
		margin-bottom: 12px;
		padding-top: 21px;
		pointer-events: none
	}
	.main-slider__image-inner {
		margin-left: auto;
		margin-right: auto;
		-webkit-transform: translateX(-5px);
		-ms-transform: translateX(-5px);
		transform: translateX(-5px)
	}
	.main-slider__arrow-inner {
		width: 66px;
		height: 132px;
		background-color: #f2f4f7;
		border-top-left-radius: 100% 50%;
		border-bottom-left-radius: 100% 50%;
		color: #bfc1ce
	}
.main-slider__image-inner {
	width: 1em;
	border-radius: .5em;
	overflow: hidden;
	-webkit-box-align: end;
	-ms-flex-align: end;
	align-items: flex-end
}

.main-slider__image-half-circle {
	position: absolute;
	bottom: 0;
	width: 1em;
	height: .5em;
	background-color: #10c8d2;
	-webkit-transform-origin: 50% 0;
	-ms-transform-origin: 50% 0;
	transform-origin: 50% 0;
	border-bottom-right-radius: .5em;
	border-bottom-left-radius: .5em;
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
	z-index: 5
}

.main-slider__image-half-circle:before {
	font-size: .76em;
	position: absolute;
	bottom: 100%;
	left: 50%;
	content: "";
	display: block;
	width: 1em;
	height: .5em;
	background-color: #0a1244;
	-webkit-transform: translateX(-50%) scale(1);
	-ms-transform: translateX(-50%) scale(1);
	transform: translateX(-50%) scale(1);
	-webkit-transform-origin: 50% 100%;
	-ms-transform-origin: 50% 100%;
	transform-origin: 50% 100%;
	border-top-right-radius: .5em;
	border-top-left-radius: .5em
}

.slick-active .main-slider__image-half-circle:before {
	-webkit-animation-timing-function: ease-in-out;
	animation-timing-function: ease-in-out;
	-webkit-animation: abc 1s;
	animation: abc 1s
}

.main-slider__image-half-circle_direction-right {
	-webkit-transform: rotate(315deg);
	-ms-transform: rotate(315deg);
	transform: rotate(315deg)
}

.main-slider__image-half-circle_direction-left,
.main-slider__image-half-circle_direction-right {
	-webkit-transition: -webkit-transform 1s;
	transition: -webkit-transform 1s;
	-o-transition: transform 1s;
	transition: transform 1s;
	transition: transform 1s, -webkit-transform 1s
}

.main-slider__image-half-circle_direction-left {
	-webkit-transform: rotate(-405deg);
	-ms-transform: rotate(-405deg);
	transform: rotate(-405deg)
}

@-webkit-keyframes abc {
	0% {
		-webkit-transform: translateX(-50%) scale(1);
		transform: translateX(-50%) scale(1)
	}
	50% {
		-webkit-transform: translateX(-50%) scale(.7);
		transform: translateX(-50%) scale(.7)
	}
	to {
		-webkit-transform: translateX(-50%) scale(1);
		transform: translateX(-50%) scale(1)
	}
}

@keyframes abc {
	0% {
		-webkit-transform: translateX(-50%) scale(1);
		transform: translateX(-50%) scale(1)
	}
	50% {
		-webkit-transform: translateX(-50%) scale(.7);
		transform: translateX(-50%) scale(.7)
	}
	to {
		-webkit-transform: translateX(-50%) scale(1);
		transform: translateX(-50%) scale(1)
	}
}

.main-slider__image {
	position: relative;
	display: inline-block;
	height: auto;
	z-index: 10;
	width: 100%
}

.main-slider__counter-image {
	width: 100%;
	height: 100%;
	stroke: #fff;
	-webkit-transform-origin: center center;
	-ms-transform-origin: center center;
	transform-origin: center center;
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg)
}
@media screen and (min-width: 900px){
.main-slider__image-wrapper {
    padding-top: 50px;
    font-size: 500px;
    margin-left: auto;
    padding-right: 26px;
}
}