@import 'src/index.scss';
.MainSlider > .main{
	z-index: 1;
	overflow: hidden;
	background: url('./image1.png');
	background-size: cover;
}
.MainSlider > .main{
	> div{
		padding: 5%;
		> h1{
			margin: 0;
			font-family: 'Montserrat-Bold';
			font-weight: bold;
			font-size: 50px;
			line-height: 61px;
			color: white;
			text-transform: uppercase;
		}
		> p{
			color: white;
			margin-top: 0;
			font-family: 'Montserrat-Medium';
			width: 60%;
			font-style: normal;
			font-weight: 500;
			font-size: 36px;
			line-height: 44px;
		}
		> h3{
			margin-top: 6%;
			font-family: 'Montserrat-Bold';
			color: white;
			font-style: normal;
			font-weight: bold;
			font-size: 24px;
			line-height: 200%;
			text-transform: uppercase;
			margin-bottom: 0;
		}
		> span{
			display: block;
			font-family: 'Montserrat-Light';
			font-style: normal;
			font-weight: 900;
			font-size: 18px;
			width: 60%;
			line-height: 200%;
			color: #FFFFFF;
		}
		> div{	
			display: inline-block;
			margin: 0;
			margin-top: 50px;
		  > a{
				text-decoration: none;
				border: none;
				button{
					text-decoration: none;
					border: none;
					font: inherit;
					color: inherit;
					background-color: transparent;
					cursor: pointer;
					padding: 20px  100px 20px  100px;
					font-family: 'Montserrat-Medium';
					font-style: normal;
					font-weight: 600;
					font-size: 30px;
					line-height: 37px;
					display: flex;
					align-items: center;
					text-align: center;
					background: $maincolor;
					border-radius: 40px;
					color: #FFFFFF;
					&:focus{
						outline: none;
					}
				}
			}
			> p{
				margin: auto;
				text-align: center;
				font-family: 'Montserrat-Light';
				font-size: 20px;
				line-height: 24px;
				padding-top:20px;
				text-decoration: underline;
				text-decoration-skip: spaces;
				color: #FFFFFF;
			}

		}
		
	}
}
.steps{
	> .circles{
		margin: 10%;
		margin-bottom: 0;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		> div{
			border-radius: 50%;
			width: 91px;
			height: 91px;
			background: $maincolor;
			display: flex;
			align-items: center;
			justify-content: space-between;		
			>p{
				width: 91px;
				color: #FFFFFF;
				text-align: center;
				font-family: 'Montserrat-Bold';
				font-size: 64px;
				line-height: 78px;
			}
		}
		>span{
			width: 50%;
			border: 8px solid $maincolor;
		}
	}
	>div{
		margin-top: 0;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		p{
			max-width: 300px;
			text-align: center;
			padding: 3%;
			padding-top: 0;
			font-family: 'Montserrat-Light';
			font-size: 24px;
			line-height: 29px;
			color: black;
		}
	}
}
@media screen and (max-width: 1200px) {
	
}
@media screen and (min-width: 900px){
	
}