@import 'src/index.scss';
.MainSlider{
	padding: 2%;
	display: flex;
	flex-direction: row;
	z-index: 1;
	overflow: hidden;
	background: url('./image1.png');
	background-position: center no-repeat;
	background-size: cover;
	> .main{
		width: 90%;
		margin: 0;
		> h1{
			margin-bottom: 0;
			font-family: 'Montserrat-Bold';
			font-weight: bold;
			font-size: 45px;
			line-height: 61px;
			color: white;
			text-transform: uppercase;
		}
		> p{
			margin: 0;
			color: white;
			font-family: 'Montserrat-Medium';
			font-style: normal;
			font-weight: 500;
			font-size: 30px;
			line-height: 44px;
		}
		> h3{
			display: inline-block;
			margin-top: 3%;
			font-family: 'Montserrat-Bold';
			color: white;
			font-style: normal;
			font-weight: bold;
			font-size: 20px;
			line-height: 200%;
			text-transform: uppercase;
			margin-bottom: 0;
		}
		> span{
			display: inline-block;
			font-family: 'Montserrat-Light';
			font-style: normal;
			font-weight: 900;
			font-size: 14px;
			line-height: 200%;
			color: #FFFFFF;
		}
		> div{	
			display: inline-block;
			margin: 0;
			margin-top: 50px;
		> a{
				text-decoration: none;
				border: none;
				button{
					text-decoration: none;
					border: none;
					font: inherit;
					color: inherit;
					background-color: transparent;
					cursor: pointer;
					padding: 20px  100px 20px  100px;
					font-family: 'Montserrat-Medium';
					font-style: normal;
					font-weight: 600;
					font-size: 30px;
					line-height: 37px;
					display: flex;
					align-items: center;
					text-align: center;
					background: $maincolor2;
					border-radius: 40px;
					color: #FFFFFF;
					&:focus{
						outline: none;
					}
					&:active{
						outline: none;
					}
				}
			}
			> p{
				margin: auto;
				text-align: center;
				font-family: 'Montserrat-Light';
				font-size: 20px;
				line-height: 24px;
				padding-top:20px;
				text-decoration: underline;
				text-decoration-skip: spaces;
				color: #FFFFFF;
			}

		}
	}
	.steps{
		height: 68vh;
		flex-grow: 1;
		display: flex;
		flex-direction: row;
		width: 100%;
		> .circles{
			margin: 0% 0% 0% 20%;
			display: flex;
			flex-direction: column;
			justify-content: space-around;
			align-items: center;
			> div{
				border-radius: 50%;
				width: 91px;
				height: 91px;
				background: $maincolor;
				display: flex;
				align-items: center;
				justify-content: space-between;		
				>p{
					width: 91px;
					color: #FFFFFF;
					text-align: center;
					margin-bottom: 0;
					font-family: 'Montserrat-Bold';
					font-size: 64px;
					line-height: 78px;
				}
			}
			>span{
				width: 8px;
				height: 20vh;
				margin-bottom: -5px;
				margin-top: -5px;
				border: 8px solid $maincolor;
			}
		}
		>div{
			margin-top: 0;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			>p{
				max-width: 310px;
				text-align: center;
				margin: 0 -10px 0 -10px;
				padding: 0 20px 0 20px;
				padding-top: 0;
				font-family: 'Montserrat-Light';
				font-size: 24px;
				font-weight: 900;
				line-height: 29px;
				color: #FFFFFF;
			}
		}
	}
}
@media screen and (max-width: 1100px) {
	.steps{
		margin: 0;
	}
}
@media screen and (max-width: 900px) {
	.steps{
		> .circles{
			margin: 12%;
			margin-bottom: 0;
		}
		>div{
			margin-top: 0;
			display: flex;
			justify-content: space-between;
		}
	}
}
@media screen and (max-width: 700px){

}