@import 'src/index.scss';
.Footer{  
    flex: 0 0 auto;
    background-color: #FFFFFF;
    font-family: 'Montserrat-Medium';
    >.Section1{  
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        align-content: center;
        margin: 0 5% 0 5%;
        button{
            margin: auto;
            text-decoration: none;
            border: none;
            cursor: pointer;
            padding: 5px  5px 5px  5px;
            font-family: 'Montserrat-Medium';
            font-size: 20px;
            line-height: 29px;
            background: $maincolor2;
            border-radius: 5px;
            color: #FFFFFF;
            &:focus{
                outline: none;
            }
        }
        >.Section1_1{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }
        >.Section1_2{
            font-family: 'Montserrat-Medium';
            font-size: 16px;
            text-transform: uppercase;
            padding: 10px;
            display: flex;
            flex: 1;
            flex-direction: row;
            justify-content: space-around;
            h5{
                font-family: 'Montserrat-Medium';
                font-weight: bold;
                font-size: 16px;
            }
        }
    }
    >div{
        padding: 10px;
        text-align: center;
        padding-bottom:0;
    }
}
@media (max-width: 1100px){
    .Footer{
        >.Section1{
            display: flex;
            flex-direction: column;
            justify-content: baseline;
        }
    }
}
@media (max-width: 500px){
}
@media (min-width: 576px){
    .Modal{
        max-width: 90% !important;
        width: 400px !important;
        font-family: 'Montserrat-Medium';
        .ModalTitle{
            font-size: 21px;
        }
        .modalBut{
            border: 1px solid $maincolor2;
        }
    }
    .modaaaal{
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
    }
    .modaaaal > input{
        border-radius: 5px;
        padding: 5px;
        border: 1px solid grey;
        margin: 10px;
        &:focus{
            border: 1px solid $maincolor2;
            outline: none;
        }
        &:active{
            outline: none;
        }
    }
}