@import 'src/index.scss';
.Footer{  
    flex: 0 0 auto;
    background-color: #FFFFFF;
    font-family: 'Montserrat-Medium';
        >.Section1_2_mobile{
            display: none;
            width: calc(300px + 2vw);
            font-family: 'Montserrat-Medium';
            font-size: 16px;
            text-transform: uppercase;
            padding: 10px;
            flex-direction: row;
            justify-content: space-around;
            h5{
                font-family: 'Montserrat-Medium';
                font-weight: bold;
                font-size: 16px;
            }
        } 
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        align-content: center;
        margin: 0;
        padding: 0 5% 0 5%;
        button{
            margin: auto;
            text-decoration: none;
            border: none;
            cursor: pointer;
            padding: 5px 5px 5px 5px;
            font-family: 'Montserrat-Medium';
            font-size: calc(15px + 0.5vw);
            background: $maincolor2;
            border-radius: 5px;
            color: #FFFFFF;
            &:focus{
                outline: none;
            }
        }
        >.Section1_1{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            p{
                margin-bottom: 5px;
            }
        }
        >.Section1_2{
            width: calc(300px + 2vw);
            font-family: 'Montserrat-Medium';
            font-size: 16px;
            text-transform: uppercase;
            padding: 10px;
            display: flex;
            flex: 1 2;
            flex-direction: row;
            justify-content: space-around;
            h5{
                font-family: 'Montserrat-Medium';
                font-weight: bold;
                font-size: 16px;
            }
        }
    >div{
        padding: 0.5vw;
        text-align: center;
        padding-bottom:0;
    }
}
.Modal{
    padding: 1.5vw;
    max-width: 90% !important;
    width: 500px !important;
    font-family: 'Montserrat-Medium';
    .ModalTitle{
        font-size: calc(12px + 0.5vw);
        text-transform: uppercase;
    }
    .modaaaal{
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        align-items: center;
        img{
            width: calc(100px + 4vw);
        }
    }
}
.ModalBodyHelp{
    font-family: 'Montserrat-Medium';
    display: flex;
    flex-direction: column;
    >div{
        display: flex;
        justify-content: space-around;
    }
    input{
        outline: none;
        background: #FFFFFF;
        border: 1px solid #999999;
        box-sizing: border-box;
        width: 100%;
        border-radius: 5px;
        padding: 10px 15px 10px;
        transition: .225s ease-in-out;
        box-shadow: none;
        color: #0a1244;
        caret-color: aqua;
    }
}
@media (max-width: 1100px){
    .Footer{
        font-size: calc(10px + 0.3vw);
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        >.Section1_2_mobile{
            width: 100%;
            display: flex;
            flex-direction: column;
            h5{
                font-size: calc(10px + 0.5vw);
            }
        }
        button{
            font-size: calc(10px + 0.3vw);
            margin: 0;
        }
        >.Section1_2{
            display: none;
            padding: 0;
        } 
        >.Section1_1{
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 0;
            font-size: calc(7px + 0.5vw);
            >*{
                margin: 0;
            }
        } 
    }
}
@media (max-width: 500px){
    .Modal{
        padding: 1vw;
        .modaaaal{
            display: flex;
            justify-content: space-around;
            flex-direction: row;
            align-items: center;
            img{
                width: calc(100px + 4vw);
            }
        }
    }
    .ModalBodyHelp{
        >div{
            flex-direction: column;
        }
    }
}
