.Declaration{
	background-color: #fff;
	height: 100%;
}
.DeclarationHeader{
	display: block;	
	padding: 20px;
	background-color: #fff;
	z-index: 9900;
	border-bottom: 1px solid rgba(0,0,0,0.3);	
}
.DeclarationHeader img{
	width: 130px;
    height: 50px;
}