html, body {
	margin: 0;
	height: 100%;
}
#root{
	height: 100%;
}

$maincolor: #07CAD3;
$primaryWidth: 40%;
$primaryHeight: 100%;
@font-face{
	font-family: 'Montserrat-Bold';
	src: url('./fonts/Montserrat-Bold.otf');
	src: url('./fonts/Montserrat-Bold.ttf');
	}
	@font-face{
		font-family: 'Montserrat-Light';
		src: url('./fonts/Montserrat-Light.otf');
		src: url('./fonts/Montserrat-Light.ttf')
	}
	@font-face{
		font-family: 'Montserrat-Medium';
		src: url('./fonts/Montserrat-Medium.otf');
		src: url('./fonts/Montserrat-Medium.ttf');
	}
	@font-face{
		font-family: 'Montserrat-Regular';
		src: url('./fonts/Montserrat-Regular.otf');
		src: url('./fonts/Montserrat-Regular.ttf')
	}
	@font-face{
		font-family: 'Montserrat-SemiBold';
		src: url('./fonts/Montserrat-SemiBold.otf');
		src: url('./fonts/Montserrat-SemiBold.ttf')
	}