.LiqForm{
	transition: .225s;
	display: flex;
	margin-top: 30px;
	align-items: center;
	text-align: center;
	button{
		color: white;
		font-family: 'Montserrat-Medium';
		font-style: normal;
		font-weight: 400;
		font-size: 30px;
		width: 350px;
		line-height: 37px;
		cursor: pointer;
		outline: none;
		border: none;
		padding: 20px 50px 20px 50px;
		margin: auto;
		background: #07D359;
		border-radius: 40px;
		img{
			margin: 0;
			padding-right: 10px;
		}
	}
}