@import "src/index.scss";
.PidstaviTwin {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    .customButton {
        display: flex;
        align-items: center;
        color: white;
        min-width: 120px;
        display: inline-block;
        font-family: "Montserrat-Medium";
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 37px;
        text-transform: uppercase;
        cursor: pointer;
        outline: none;
        border: none;
        text-align: center;
        padding: 10px 30px;
        background: $maincolor;
        border-radius: 40px;
        margin: 50px 20px;
    }
    textarea {
        width: 70%;
    }
}
@media screen and (max-width: 800px) {
    .Pidstavi {
        textarea {
            width: 90%;
        }
    }
}
