.AboutUs{
	padding: 6rem;
	padding-bottom: 0;
	background-color: #f2f4f7;
}
.AboutUs>div{
	cursor: pointer;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	background-color: #fff;
	border-radius: 4px;
	overflow: hidden;
	transition: .175s ease-in-out;
}
.AboutUs>div:hover{
	box-shadow: 12px 12px 12px 1px rgba(0, 0, 255, .1);
}
.AboutUs>div:hover img{
	transform: translateX(-20px);
}
.AboutUs>div>*{
	width: 100%;
}
.AboutUs .text{
	max-height: 396px;
	text-align: left;
	padding: 40px 40px 0 40px;
}
.AboutUs .img > img{
	height: 396px;
	-webkit-clip-path: circle(95% at 100% 50%);
	position: relative;
	right: -20px;
	width: auto;
	float: right;
	border-top-left-radius: 20%;
	border-bottom-left-radius: 20%;
	transition: .175s ease-in-out;
}
.AboutUs .text > h2{
	text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2.5px;
    font-weight: 600;
    color: rgba(10, 18, 68, .6);
}
.AboutUs .text > h5{
	font-size: 38px;
    line-height: 44px;
    font-weight: 900;
    color: #0a1244;
}
.AboutUs .text > p{
	display: inline;
	font-size: 16px;
	line-height: 1.88;
	color: #0a1244;
}
.AboutUs > p{
	margin-top: 70px;
	background-color: #fff;
	border-radius: 4px;
	overflow: hidden;
	transition: .175s ease-in-out;
    font-weight: 600;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: -0.4px;
    color: rgba(10, 18, 68, .6);
    padding: 20px;
    text-align: left;
}
.AboutUs>p:hover{
	box-shadow: 12px 12px 12px 1px rgba(0, 0, 255, .1);
}
.AboutUs>p b{
	font-weight: 800;
}
@media screen and (max-width: 1200px) {
	.AboutUs{
		padding: 1em;
	}
	.AboutUs>p{
		margin-top: 20px;
	}
	.AboutUs .img > img{
		height: 320px;
	}
	.AboutUs .text > h5{
		margin-top: 20px;
		margin-bottom: 20px;
	}
	.AboutUs .text > p{
		margin-top: 20px;
	}
}
@media screen and (max-width: 900px) {
	.AboutUs .text{
		width: 200%;
		padding: 1em;
	}
	.AboutUs .img > img{
		height: 180px;
	}
	.AboutUs .text > h2{
		font-size: 10px;
	}
	.AboutUs .text > h5{

		font-size: 18px;
		line-height: 22px;
		margin-top: 20px;
		margin-bottom: 10px;
	}
	.AboutUs .text > p{
		display: block;
		margin-top: 20px;
		font-size: 12px;
	}
}
@media screen and (max-width: 700px) {
	
	.AboutUs .text{
		padding: 1em;
	}
	.AboutUs .img > img{
		height: 180px;
	}
	.AboutUs .text > h2{
		font-size: 8px;
	}
	.AboutUs .text > h5{
		line-height: 1em;
		font-size: 14px;
		margin: 0;
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.AboutUs .text > p{
		margin-top: 5px;	
		margin-bottom: 5px;
		display: block;
		line-height: 1.7em;
		font-size: 10px;
	}
}
@media screen and (max-width: 450px) {
	.AboutUs .text > h2{
		margin-bottom: 0;
	}
	.AboutUs .text > p{
		line-height: 1em;
		font-size: 10px;
	}
}